@model LostAndFound.Web.Models.ListLostReportItemVM

@{
    ViewBag.Title = "Lost And Found";
}

<h2>Lost Items</h2>


<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.LostItems.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead>
                <tr class="danger">
                    <th data-defaultsign="month">Date Lost</th>
                    <th data-defaultsign="AZ">Item Type</th>
                    <th data-defaultsign="AZ">Item Name</th>
                    <th data-defaultsign="AZ">Location</th>                 
                </tr>
            </thead>
            foreach (var item in Model.LostItems)
            {
                <tr>
                    <td>@item.DateLost.ToShortDateString()</td>
                    <td>@item.ItemType</td>
                    <td>@item.ItemName</td>  
                    <td>@item.Location</td>                  
                </tr>
            }
        }
    </table>
</div>  